* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.list {
  padding: 20px 0 20px 20px;
  list-style: none;
}

.list:nth-child(odd) {
  background-color: #f0f0f0;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.box {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: #ffd700;
}

.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-child(n + 7) {
  margin-bottom: 0;
}

.box:nth-child(4n + 1) {
  background-color: #ff8c00;
}
